.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/board.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        width: 140px;
        position: absolute;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.pick-card {
    transition: all 125ms ease-in-out;
    animation: pick-card-animation 1.25s ease-in-out;
    transform: scale(1.2) translateX(220px) translateY(-220px) rotate(-10deg);
}

.played-card {
    transform: scale(1.2) translateX(220px) translateY(-220px) rotate(-10deg);
    right: 25px;
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.7);
    }
    60% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.2) translateX(220px) translateY(-220px) rotate(-10deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
    z-index: 1;
}

.btn-add {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}